-var application={title:"Crank",subtitle:"A front end boilerplate",type:"Web"}
-var navigation={1:{href:"/",title:"Home"},2:{href:'/something/',sub:{1:{href:"/about/",title:"About"}},title:"About"},3:{href:'/something/',sub:{1:{href:"/about/",title:"About"}},title:"Contact"}}
