//# Vertical Middle
// Make sure this is applied to a parent and block class gets applied to a child
&.vertical-middle
	{
		&:before
			{
				@include inline-block;

				content:"";height:100%;margin:{right:-0.25em;};vertical-align:middle;
			}

		//% Elements
		&__enclosure
			{
				@include inline-block;

				vertical-align:middle;
			}
		//%
	}
