//# HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
::-moz-selection
	{
		@extend %text-shadow-none;
	}

::selection
	{
		@extend %text-shadow-none;
	}

hr
	{
		@extend %display-block;
		@extend %reset-spacing;

		border:{top:1px solid;};height:1px;
	}

audio,canvas,img,svg,video
	{
		@extend %vertical-align-middle;
	}

fieldset
	{
		@extend %reset-spacing;

		border:0;
	}

textarea{resize:vertical;}


//% All
*
	{
		@extend %box-sizing-border-box;
	}
//%

//% Definition Lists
dl
	{
		@extend %element;

		margin:0 0 20px 0;padding:0;

		dt
			{
				@extend %element;
				@extend %display-block;
				@extend %reset-spacing;
			}
		dd
			{
				@extend %element;
				@extend %display-block;
				@extend %reset-spacing;
			}
	}
//%

//% Horizontal Rule
hr
	{
		@extend %background-color-darkest-black;

		border:0;height:2px;
	}

//%

//% Ordered Lists
ol
	{
		@extend %element;

		margin:0 0 20px 0;padding:0;

		li
			{
				//% Extension
				@extend %element;
				@extend %reset-spacing;
				//%
			}
	}
//%

//% Unordered Lists
ul
	{
		@extend %element;

		margin:0 0 20px 0;padding:0;

		li
			{
				@extend %element;
				@extend %reset-spacing;
			}
	}
//%

//% Forms
label,legend,select
	{
		@extend %display-block;
	}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button
	{
		@extend %appearance-none;
	}

textarea
	{
		@extend %vertical-align-top;

		overflow:auto;
	}


input[type="radio"],
input[type="checkbox"]
	{
		cursor:pointer;line-height:normal;margin:4px 0 0;margin:{top:1px \9;};*margin:{top:0;};
	}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"]
	{
		width:auto;
	}

select,
input[type="file"]
	{
		*margin:{top:4px;};
		/* In IE7, the height of the select element
		cannot be changed by height,only font-size */
	}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus
	{
		outline:thin dotted $dark;outline:5px auto -webkit-focus-ring-color;
		outline-offset:-2px;
	}

.field{width:100%;}
//%

//% IFrames
iframe
	{
		@extend %element;
		@extend %display-block;

		border:0;min-height:500px;width:100%;
	}
//%
