.forecast-header

	span.forecast-header__title
		| {{forecast.main.temp}}
		sup.forecast-header__title-sup
			&deg; C

	span.forecast-header__title--sub
		| {{forecast.weather[0].description}}

//-@.forecast-header

.forecast-main

	dl.forecast-main-data

		.row

			.column-large-60.column-small-60

				dt.forecast-main-data__title
					| Location

			//-@.column

			.column-large-40-2.column-small-40-2

				dd.forecast-main-data__title-sub
					| {{forecast.name}}

			//-@.column

		//-@.row

		.row

			.column-large-60.column-small-60

				dt.forecast-main-data__title
					| Humidity

			//-@.column

			.column-large-40-2.column-small-40-2

				dd.forecast-main-data__title-sub
					| {{forecast.main.humidity+"%"}}

			//-@.column

		//-@.row

		.row

			.column-large-60.column-small-60

				dt.forecast-main-data__title
					| Pressure

			//-@.column

			.column-large-40-2.column-small-40-2

				dd.forecast-main-data__title-sub
					| {{forecast.main.pressure+"mb"}}

			//-@.column

		//-@.row

		.row

			.column-large-60.column-small-60

				dt.forecast-main-data__title
					| Wind

			//-@.column

			.column-large-40-2.column-small-40-2

				dd.forecast-main-data__title-sub
					| {{forecast.wind.speed+"km"}}

			//-@.column

		//-@.row

		.row

			.column-large-60.column-small-60

				dt.forecast-main-data__title
					| Sunrise

			//-@.column

			.column-large-40-2.column-small-40-2

				dd.forecast-main-data__title-sub
					| {{forecast.sys.sunrise*1000|date:'shortTime'}}

			//-@.column

		//-@.row

		.row

			.column-large-60.column-small-60

				.forecast-main-data__title
					| Sunset

			//-@.column

			.column-large-40-2.column-small-40-2

				dd.forecast-main-data__title-sub
					| {{forecast.sys.sunset*1000|date:'shortTime'}}

			//-@.column

		//-@.main

	//-@.data

//-@.forecast-main
