ul.product-navigation-list

	li.product-navigation-list-enclosure(ng-repeat="page in pages",ng-class="{active:isActive(page)}")

		a.product-navigation-list-enclosure-item(href="#/{{page.id}}",ng-click="activate(page)")

			{{page.title}}

		//-@.item

	//-@.enclosure

//-@.list
