extends /layouts/global

block content

	section.application-content

		//% View
		// Content is rendered within this view, see Angular route configuration
		// in scripts/application.js
		section(ng-view)

		//%

	//-@.content
