a(ng-href="{{database_data.application.twitter_url}}")

	img.application-header__object(ng-src="http://www.gravatar.com/avatar/{{storage_data.user_email|gravatar}}?s=150")

input.application-header__title(ng-model="storage_data.user_project_name",placeholder="",type="text",value="{{storage_data.user_project_name}}")

input.application-header__title--sub(ng-model="storage_data.user_project_type",placeholder="",type="text",value="{{storage_data.user_project_type}}")
