:markdown
	Three aspects to Crank:

	* Jade
	* Sass and Compass
	* Angular

	Each of these are heavily documented on their respective language reference sites.

	Code is organised according to BEM style structuring and syntax.
