// These have to be manually included within the template because
// we're using Angular to load our views and not inherenting them directly
// with Jade
include /configuration/variables
include /mixins/mixins
