//# Carousel
.carousel
	{
		user-select:none;

		//% Nodes
		&-interface
			{
				cursor:pointer;

				&-advance
					{
						@extend %background-color-dark-grey;

						display:block;padding:10px;text-align:center;
					}

				&-retard
					{
						@extend %background-color-dark-grey;

						display:block;padding:10px;text-align:center;
					}
			}

		&-header
			{
				@extend %background-color-medium-grey;

				padding:10px;

				&__title
					{
						@include adjust-font-size-to(20px);
						@include adjust-leading-to(1);
					}
			}

		&-list
			{
				@extend %list--horizontal;
			}

		&-main
			{
				&-content
					{
						@extend %background-color-dark-grey;

						padding:10px;
					}

				&-media
					{
						width:100%;
					}
			}
		//%
	}
