//# Sprites

	//% Icons
	$icons-layout:smart;
	$icons:sprite-map("icons/*.png");
	$icons-files:"beaker-small_graphite","cloud-small_graphite";
	$sprite-icons:sprite-url($icons);

	$icons2x-layout:smart;
	$icons2x:sprite-map("icons2x/*.png");
	$sprite-icons2x:sprite-url($icons2x);
	//%

//%