//# Breakpoint Settings
// Generates classes for use with each breakpoint configured in _breakpoint
// These are in the format of name-of-breakpoint-settings-classname. For example,
// large-settings-margin-top-10.
@mixin breakpoint-settings($breakpoint-settings-name:"none")
	{
		@at-root .#{$breakpoint-settings-name}-settings
			{
				.column
					{
						@include float-left;

						@include breakpoint("large")
							{
								//% Modifiers
								&--large
									{
										@each $i in $columns
											{
												&-#{$i}
												{
													@include columns(1,0,$i);
												}
											}
									}
								//%
							}
					}

				&-horizontal-middle
					{
						@include reset-float;

						margin:{left:auto;right:auto;};

						&:first-child
							{
								@include reset-float;

								margin:{left:auto;right:auto;};
							}
					}

				&-full-width
					{
						@include reset-float;

						display:block;width:auto;
					}

				&-hide
					{
						display:none;visibility:hidden;
					}

				&-show
					{
						display:block;visibility:visible;
					}
			}
	}
