//# Columns
// Generate columns by accepting the number of columns and the size of the margins
// Utilizes @function columnWidth to generate the width of each column
// See _functions, columnWidth for explanation of arguments used.
@mixin columns($columns:0,$margin:0,$percentage:0)
	{
		@include float-left;

		margin:{left:add-unit-type($margin)};width:column-width($columns,$margin,$percentage);

		&:first-child
			{
				margin:{left:0;};width:add-unit-type($percentage,"%");
			}

		@each $i in $margins
			{
				&--#{$i}
					{
						@include float-left;

						margin:{left:add-unit-type($i,"%")};
						width:column-width($columns,$i,$percentage);
					}
			}
	}
//%
