//# Text

//% Paragraphs
p
	{
		@extend %font-common;
	}
//%

//% Anchors
a
	{
		@extend %block;

		text-decoration:none;

		color:inherit;

		&:focus,&:hover
			{
				text-decoration:none;
			}
	}
//%

//% Emphasise
b
	{
		color:inherit;font:{family:inherit;size:inherit;weight:bold;};
	}

em
	{
		color:inherit;font:{family:inherit;size:inherit;};
	}

i
	{
		color:inherit;font:{family:inherit;size:inherit;};
	}

strong
	{
		color:inherit;font:{family:inherit;size:inherit;weight:bold;};
	}
//%

//% Headings
h1,h2,h3,h4,h5,h6
	{
		@extend %font-heading;
		@extend %reset-spacing;
	}

%terra
	{
		@extend %reset-spacing;
		@include adjust-font-size-to(42px);
		@include adjust-leading-to(1);
	}

%giga
	{
		@extend %reset-spacing;
		@include adjust-font-size-to(36px);
		@include adjust-leading-to(1);
	}

%mega
	{
		@extend %reset-spacing;
		@include adjust-font-size-to(30px);
		@include adjust-leading-to(1);
	}

%alpha
	{
		@extend %reset-spacing;
		@include adjust-font-size-to(26px);
		@include adjust-leading-to(1);
	}

%beta
	{
		@extend %reset-spacing;
		@include adjust-font-size-to(24px);
		@include adjust-leading-to(1);
	}

%delta
	{
		@extend %reset-spacing;
		@include adjust-font-size-to(22px);
		@include adjust-leading-to(1);
	}

%gamma
	{
		@extend %reset-spacing;
		@include adjust-font-size-to(18px);
		@include adjust-leading-to(1);
	}

%epsilon
	{
		@extend %reset-spacing;
		@include adjust-font-size-to(16px);
		@include adjust-leading-to(1);
	}

%zeta
	{
		@extend %reset-spacing;
		@include adjust-font-size-to(16px);
		@include adjust-leading-to(1);

		text-transform:uppercase;
	}

h1
	{
		@extend %terra;
	}

h2
	{
		@extend %giga;
	}

h3
	{
		@extend %mega;
	}

h4
	{
		@extend %alpha;
	}

h5
	{
		@extend %beta;
	}

h6
	{
		@extend %delta;
	}
//%

//% Rich text
%rich-text
	{
		//% Anchors
		a
			{
				text-decoration:underline;
			}
		//%

		//% Lists
		ul,ol,dl
			{
				list-style:{position:inside;};margin:{top:20px;};

				&:first-child{margin:{top:0;};}

				li,dt,dd
					{
						@extend %font-common;
						@include adjust-leading-to(1);
					}
			}
		//%

		//% Paragraphs
		p
			{
				@include adjust-leading-to(1);

				margin:{bottom:0;top:20px;};

				&:first-child{margin:{top:0;};}
			}
		//%

		//% Headings
		h1,h2,h3,h4,h5,h6{margin:{bottom:10px;}}
		//%
	}
//%
