//# Mixins

//# Global Navigation
// Render the global navigation for the site
mixin global_navigation(array)
	-each value,key in array
		li.product-navigation-one-enclosure
			a.item(href=value.href)
				=value.title
//
