//# Utilities

//% Borders
$borders:(
	1,5,10,20,25,50
);
//%

//% Columns
$columns:(
	15,20,25,30,33,35,40,45,50,55,60,65,70,75,80
);
//%

//% Margins
$margins:(
	1,5,10,20,30
);
//%

//% Paddings
$paddings:(
	1,5,10,30
);
//%
