//# Application
// The core layout for the application as a whole
.application
	{
		@extend %block;

		margin:{left:auto;right:auto;};margin:{top:25vh};max-width:map-get($application,max-width);

		//% Nodes
		&-header
			{
				margin:{bottom:20px;};

				//% Elements
				&__object
					{
						@include border-radius(50%);

						border:10px solid map-get($colors,lightest-white);margin:{bottom:10px;left:auto;right:auto;};
					}

				&__title
					{
						@extend %background-color-darkest-black;
						@extend %foreground-color-lightest-white;
						@extend %font-heading-thin;
						@extend %display-block;
						@extend %text-align-center;
						@extend %user-select-none;
						@include adjust-font-size-to(72px);
						@include adjust-leading-to(3);

						border:0;margin:{bottom:10px;};width:100%;

						//% Mods
						&--sub
							{
								@extend %background-color-darkest-black;
								@extend %foreground-color-lightest-white;
								@extend %display-block;
								@extend %font-heading-normal;
								@extend %text-align-center;
								@extend %position-relative;
								@extend %user-select-none;
								@include adjust-font-size-to(30px);
								@include adjust-leading-to(1.2);

								border:0;margin:{top:5px;};width:100%;
							}
						//%
					}
				//%
			}

		&-navigation
			{
				@extend %background-color-dark-grey;
				@extend %text-align-center;

				margin:{bottom:40px;top:20px;};

				//% Nodes
				&-list
					{
						@extend %list--horizontal;

						//% Elements
						&__enclosure
							{
								@extend %list--horizontal__enclosure;
							}

						&__item
							{
								@extend %list--horizontal__item;
								@extend %foreground-color-medium-grey;
								@extend %font-common-light;
								@extend %text-align-center;
								@include adjust-font-size-to(32px);
								@include adjust-leading-to(1);

								padding:10px;

								&:focus,&:hover
									{
										@extend %background-color-lightest-white;
									}
							}
						//%
					}
				//%
			}
		//%
	}
