//# Application
// The core layout for the application as a whole
.application
	{
		@extend %block;

		margin:{left:auto;right:auto;};margin:{top:25vh};max-width:map-get($product,max-width);

		//% Nodes
		&-header
			{
				margin:{bottom:20px;};

				//% Elements
				&__object
					{
						@extend .util.border-radius-50;
						@extend .util.block-center;
						@extend .util.margin-bottom-10;

						border:10px solid map-get($colors,clarity);
					}
				&__title
					{
						@extend .util.background-color-pitch;
						@extend %font-heading-thin;
						@extend %display-block;
						@extend %text-align-center;
						@extend %user-select-none;
						@extend .util.margin-bottom-10;
						@include adjust-font-size-to(72px);
						@include adjust-leading-to(3);

						border:0;width:100%;

						//% Mods
						&--sub
							{
								@extend .util.background-color-pitch;
								@extend %display-block;
								@extend %font-heading-normal;
								@extend %text-align-center;
								@extend %position-relative;
								@extend %user-select-none;
								@include adjust-font-size-to(30px);
								@include adjust-leading-to(1.2);

								border:0;margin:{top:5px;};width:100%;
							}
						//%
					}
				//%
			}

		&-main
			{

			}

		&-navigation
			{
				margin:{bottom:40px;};

				//% Nodes
				&-list
					{
						@extend .list-horizontal;

						//% Nodes
						&-enclosure
							{
								@extend .list-horizontal-enclosure;

								margin:{left:50px;};

								&:first-child{margin:{left:0;};}

								&-item
									{
										@extend .list-horizontal-enclosure__item;
										@extend %foreground-color-medium-grey;
										@extend %font-common-light;
										@extend %text-align-center;
										@include adjust-font-size-to(32px);
										@include adjust-leading-to(1);
									}

								//% Modifiers
								&.active
									{
										.product-navigation-list-enclosure-item
											{
												@extend %foreground-color-clarity;
												@extend %font-common-light;
											}
									}
								//%
							}
						//%
					}
				//%
			}
		//%
	}
