//# Definition
// Term and data with a bit more styling than a definition list
.definition
	{
		@extend .util.background-color-clarity;

		border:1px solid map-get($colors,regular-grey);margin:{top:15px;};padding:15px;

		//% Block
		&-term
			{
				//% Elements
				&__title
					{
						@include adjust-font-size-to(18px);
						@include adjust-leading-to(1);
						@extend %display-block;
						@extend %font-weight-bold;

						margin:{bottom:15px;};
					}
				//%
			}
		//%
	}
