//# Forecast
.forecast
	{
		//% Nodes
		&-header
			{
				@extend %text-align-center;

				margin:{bottom:40px;};

				&__title
					{
						@extend %display-block;
						@extend %font-common-thin;
						@include adjust-font-size-to(126px);
						@include adjust-leading-to(4);

						margin:{bottom:10px;top:20px;};letter-spacing:-10px;

						//% Mod
						&-sub,&-sup
							{
								@include adjust-font-size-to(72px);
								@extend %text-transform-capitalize;
							}
						//%
					}
			}

		&-main
			{
				&-data
					{
						margin:0;

						.row
							{
								border:{top:1px solid map-get($colors,dark-grey);};margin:{top:5px;};padding:{top:5px;};

								&:first-child{margin:{top:0;};}
								&:last-child{border:{bottom:1px solid map-get($colors,dark-grey);};padding:{bottom:5px;};}
							}

						&__title
							{
								@extend %font-common-bold;
								@extend %display-block;
								@extend %text-align-left;

								margin:{right:10px;};padding:{left:20px;right:20px;};

								&-sub
									{
										@extend %display-block;
										@extend %text-align-right;

										padding:{left:20px;right:20px;};
									}
							}
					}
			}

		&-masthead
			{
				margin:{bottom:20px;};

				&__title
					{
						@extend %display-block;
						@extend %text-align-center;

						margin:{bottom:10px;};
					}
			}
		//%
	}
