//# Breakpoint Settings
@mixin breakpoint-settings($breakpoint-settings-name:"none")
	{
		@at-root .#{$breakpoint-settings-name}-settings
			{
				&-margin
					{
						@for $i from 1 through 10
							{
								&-#{$i}
									{
										margin:add-unit-type($i);
									}
							}

						&-bottom
							{
								&-auto{margin:{bottom:auto;};}

								@for $i from 1 through 30
									{
										&-#{$i}
											{
												margin:{bottom:add-unit-type($i);};
											}
									}
							}

						&-left
							{
								&-auto{margin:{left:auto;};}

								@for $i from 1 through 10
									{
										&-#{$i}
											{
												margin:{left:add-unit-type($i);};
											}
									}
							}

						&-right
							{
								&-auto{margin:{right:auto;};}

								@for $i from 1 through 10
									{
										&-#{$i}
											{
												margin:{right:add-unit-type($i);};
											}
									}
							}

						&-top
							{
								&-auto{margin:{top:auto;};}

								@for $i from 1 through 30
									{
										&-#{$i}
											{
												margin:{top:add-unit-type($i);};
											}
									}
							}
					}

				&-padding
					{
						@for $i from 1 through 10
							{
								&-#{$i}
									{
										padding:add-unit-type($i);
									}
							}

						&-bottom
							{
								&-auto{padding:{bottom:auto;};}

								@for $i from 1 through 10
									{
										&-#{$i}
											{
												padding:{bottom:add-unit-type($i);};
											}
									}
							}

						&-left
							{
								&-auto{padding:{left:auto;};}

								@for $i from 1 through 30
									{
										&-#{$i}
											{
												padding:{left:add-unit-type($i);};
											}
									}
							}

						&-right
							{
								&-auto{padding:{right:auto;};}

								@for $i from 1 through 30
									{
										&-#{$i}
											{
												padding:{right:add-unit-type($i);};
											}
									}
							}

						&-top
							{
								&-auto{padding:{top:auto;};}

								@for $i from 1 through 10
									{
										&-#{$i}
											{
												padding:{top:add-unit-type($i);};
											}
									}
							}
					}

				&-center
					{
						@include reset-float;

						margin:{left:auto;right:auto;};

						&:first-child
							{
								@include reset-float;

								margin:{left:auto;right:auto;};
							}
					}

				&-expand
					{
						@include reset-float;

						display:block;width:auto;
					}

				&-hide
					{
						display:none;visibility:hidden;
					}

				&-show
					{
						display:block;visibility:visible;
					}
			}
	}
