//# Positioning
// Sick of writing all that tiresome positioning code for absolute elements?
@mixin position($type:absolute,$top:auto,$right:auto,$bottom:auto,$left:auto)
	{
		@if($bottom=='auto')
			{
				bottom:auto;left:addUnitType($left);
				position:removeQuotes($type);right:addUnitType($right);
				top:addUnitType($top);
			}
		@elseif($left=='auto')
			{
				bottom:addUnitType($bottom);left:auto;
				position:removeQuotes($type);right:addUnitType($right);
				top:addUnitType($top);
			}
		@elseif($right=='auto')
			{
				bottom:addUnitType($bottom);left:addUnitType($left);
				position:removeQuotes($type);right:auto;
				top:addUnitType($top);
			}
		@elseif($top=='auto')
			{
				bottom:addUnitType($bottom);left:addUnitType($left);
				position:removeQuotes($type);right:addUnitType($right);
				top:auto;
			}
	}
