include /configuration/variables

block vars

include /mixins/mixins

doctype html

html(class="no-js",data-ng-controller="ApplicationController",itemtype="http://schema.org/Article",itemscope,lang="en")

	meta(content="IE=edge,chrome=1",http-equiv="X-UA-Compatible")

	meta(charset="utf-8")

	title=application.title

	meta(content="#",name="description")
	meta(content="#",name="author")

	//-# Mobile Viewport Scaling
	meta(content="True",name="HandheldFriendly")
	meta(content="320",name="MobileOptimized")
	meta(content="width=device-width,initial-scale=1",name="viewport")
	meta(content="no",name="user-scalable")
	meta(content="on",http-equiv="cleartype")
	//-#

	//-# Browser specific
	//- Icons and data for modern browsers
	link(href="touch.png",rel="shortcut icon")
	meta(content="yes",name="apple-mobile-web-app-capable")
	meta(content="black",name="apple-mobile-web-app-status-bar-style")
	meta(content=application.title,name="apple-mobile-web-app-title")
	meta(content=application.title,name="application-name")
	meta(content="/browser/msapplication.xml",name="msapplication-config")
	//-#

	//-# Schema.org markup for Google+
	meta(content="The Name or Title Here",itemprop="name")
	meta(content="This is the page description",itemprop="description")
	meta(content="http://www.example.com/image.jpg",itemprop="image")
	//-#

	//-# Twitter Card data
	meta(content="summary_large_image",name="twitter:card")
	meta(content="@publisher_handle",name="twitter:site")
	meta(content="Page Title",name="twitter:title")
	meta(content="Page description less than 200 characters",name="twitter:description")
	meta(content="@author_handle",name="twitter:creator")
	//- Twitter summary card with large image must be at least 280x150px
	meta(content="http://www.example.com/image.html",name="twitter:image:src")
	//-#

	//-# Open Graph data
	meta(content="Title Here",property="og:title")
	meta(content="article",property="og:type")
	meta(content="http://www.example.com/",property="og:url")
	meta(content="http://example.com/image.jpg",property="og:image")
	meta(content="Description Here",property="og:description")
	meta(content="Site Name, i.e. Moz",property="og:site_name")
	meta(content="2013-09-17T05:59:00+01:00",property="article:published_time")
	meta(content="2013-09-16T19:08:47+01:00",property="article:modified_time")
	meta(content="Article Section",property="article:section")
	meta(content="Article Tag",property="article:tag")
	meta(content="Facebook numberic ID",property="fb:admins")
	//-#
	
	//- Social Meta Tags http://moz.com/blog/meta-data-templates-123
	//- Twitter Validation Tool https://dev.twitter.com/docs/cards/validation/validator
	//- Facebook Debugger https://developers.facebook.com/tools/debug
	//- Google Structured Data Testing Tool http://www.google.com/webmasters/tools/richsnippets
	//- Pinterest Rich Pins Validator http://developers.pinterest.com/rich_pins/validator/

	//-# Stylesheets
	//- Source files built and concatenated into a single file
	link(href="/stylesheets/style.css",rel="stylesheet")
	//-#

	//-# Javascript
	//- Load javascript files asynchonously with load.js
	script(src="/dependencies/load.js/load.min.js")
	script(src="/scripts/load.js")
	//-#

	//-# Live Reload
	//- script.
	//- document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')

	body

		.application

			header.application-header

				block header

			//-@.header

			main.application-main.rich-text

				block content

			//-@.main

		//-@.application
